<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hancom.persistence.Board_DAO">

    <insert id="insertBoard" >
		INSERT INTO TB_BOARD(
            TITLE
            , CONTENT
            , WRITER
            , BOARD_HIT
            , CREATE_DATE
		)VALUES(
            #{title}
            , #{content}
            , #{writer}
            , 0
            , now()
        )
	</insert>

</mapper>